<!-- src/app/app.component.html -->

<div class="container mt-4">
  <h2 class="text-center mb-4">Buscador de perfiles</h2>

  <div class="row justify-content-center mb-4">
    <div class="col-md-8">
      <div class="input-group shadow">
        <input type="text" class="form-control" placeholder="Buscar usuario por username..." [(ngModel)]="username">
        <button class="btn btn-primary" (click)="buscarUsuario()">
          <i class="fas fa-search me-1"></i> Buscar
        </button>
      </div>
    </div>
  </div>  

  <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

  <app-user-info *ngIf="user" [user]="user"></app-user-info>

  <app-user-posts *ngIf="posts.length > 0" [posts]="posts"></app-user-posts>
</div>
